<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th>Admin?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @users %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
